[loggers]
keys = root

[logger_root]
handlers = root
level = DEBUG

[handlers]
keys = root

[handler_root]
class = StreamHandler
formatter = json
args = (sys.stdout,)

[formatters]
keys = json

[formatter_json]
format = %(asctime)s %(levelname)s %(threadName) %(module) %(funcName)s %(lineno)d  %(message)s
class = pythonjsonlogger.jsonlogger.JsonFormatter
